.custom-select.custom-select-sm.form-control.form-control-sm {
    width: 50px;
    margin-top: 5px;
    padding-right: 22px;
}

body {
    font-family: 'FontsFree-Net-ir_sans', sans-serif;
}

.add-button {
    display: none;
}

#cButton {
    width: 100px;
}

#cSubmit {
    margin-top: 20px;
}

.col-sm-12.col-md-6 {
    display: flex;
    justify-content: space-between;
}
